.bundle
.DS_Store
db/*.sqlite3
db/schema.rb
db/sphinx/**/*
log/*.log
log/*.pid
tmp/**/*
config/database.yml
config/omniauth.yml
config/mail.yml
Capfile
config/deploy.rb
config/deploy
config/*.sphinx.conf