<div id="wmd-button-bar"></div>
<div>
  <%= f.text_area :markdown, :placeholder => t("activerecord.attributes.comment.markdown"), :rows => 10, :autofocus => true %>
</div>
<% content_for :footer_js %>
  <script type="text/javascript">
    setup_wmd({
      input: "comment_markdown"
    });
  </script>
<% end %>