/* ------------------------------------------------------------------------
   = Page
   ------------------------------------------------------------------------ */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height:21px;
  color:#444;
}
h1 {
  margin-bottom:1em;
  padding:0;
  border:none;
  font-size:22px;
  font-weight:bold;
}
h2 {
  font-size:14px;  
  font-weight:bold;
  margin-bottom:1em;
}
h1, h2, h3, h4, p { word-wrap:break-word; }
article header a {
  color:#444;
  text-decoration:none;  
}
strong {
	font-weight:bold;
}
p,
pre,
ul,
ol {
  margin-bottom:1em;
}
ul, ol {
  padding-left:1.5em;
}
ul {
  list-style-type:circle;
}
ol {
  list-style-type:decimal;
}
ul li {
  list-style:disc outside none;
}
ul.providers {
  padding:0;
  font-weight:bold;
}
ul.providers li {
  list-style:none outside none;
}
ul.providers a {
  text-decoration:none;
}
ul.providers img {
  vertical-align:middle;
}

ul.providers.inline li {
  display:inline-block;
  width:90px;
  text-align:center;
}
ul.providers.inline img {
  display:block;
  margin:0 auto;
}
em {
  font-style:italic;
}

article header a:hover,
a {
  color:#758EA2;
}
a:hover {
  color:#5b6e7e;
}
.link-with-icon {
  text-decoration:none;
  text-transform:uppercase;
  line-height:16px;
  color:#444;
  font-size:11px;
  font-style:normal;
}
.link-with-icon .icon {
  margin-right:4px;
}
/* ------------------------------------------------------------------------
   = Flash message
   ------------------------------------------------------------------------ */
.flash {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 10000;
	border-bottom:2px solid rgba(0, 0, 0, 0.05);
	background-color:rgba(46, 46, 46, 0.95);
}
.flash .notice,
.flash .error {
	margin:0 7%;
	padding:15px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	color:#FFF;
}
.flash .error { color:#CF3C25; }

#header {
  position:relative;
  padding:24px 0;
}
/* http://www.colourlovers.com/palette/1388735/Diversion_II */
#header .logo {
  color:#000;
  font-size:22px;
  font-weight:bold;
}
#header .logo a {
  text-decoration:none;
  color:#000;
}
#header .logo span {
  border-radius:5px;
  margin-left:2px;
  padding:1px 4px;
  background-color:#CF3C25;
  -background-color:#C1DE4B;
  color:#FFF;
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
}
#header .search {
  text-align:right;
}
#header .search input {
  width:100%;
}
#header .account {
  position:absolute;
  right:20px;
  top:0;
  padding:4px 8px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color:#758EA2;
  font-size:11px;
  line-height:1;
}
#header .account a {
  color:#FFF;
  text-decoration:none;
}
#header .account a:hover {
}

#header .menu {
  text-align:right;
  text-transform:uppercase;
  font-size:12px;
  font-weight:bold;
  -line-height:24px;
}
#header .menu nav ul {
  padding-top:1px;
} 
#header .menu nav ul li {
  display:inline;
} 
#header .menu nav a {
  display:inline-block;
  margin:0;
  padding:4px 9px;
  line-height:1;
  text-decoration:none;
  border-radius:10px;
}
#header .menu nav a:hover {
  color:#FFF;
  background-color:#CF3C25;  
}

#content {
  margin-top:12px;
}
.day {}
.day time {
  text-align:center;
}
time .date-day, time .date-month, time .date-year {
  color:#B2B2B2;
  font-weight:bold;
  line-height:1;
}
time .date-day {
  font-size:30px;
}
time .date-month {
  font-size:14px;  
}
time .date-year {
  display:block;
  font-size:12px;
}
article {
  position:relative;
  margin-bottom:4em;
}
article header {
  margin-bottom:0.5em;
  padding:0;
  font-size:22px;
  font-weight:bold;
}
article header span {
  display:block;
  margin-top:3px;
  padding-top:3px;
  line-height:1;
  font-size:12px;
  border-top:#CCC 1px solid;
  color:#B2B2B2;
}
article aside {
  position:absolute;
  top:0;
  right:0;
  display:none;
}
article:hover aside {
  display:block;  
}
article aside ul li {
  margin:0 0 2px 0;
  padding:0;
  list-style:none outside none;
  line-height:1;
}

article .comments {
  font-style:italic;
}
article .comments pre {
  font-style:normal;
}
article .comments .new-comment {
  display:none;
}
article .comments header {
  margin:0;
  padding:0;
  border:none;
  font-size:14px;
}
article .comments header a {
  color:#444;
  text-decoration:underline;
}
article .comments .comment {
  margin:0 0 1em 0;
  padding:0;
}
.comment header {}
.comment header time {
  float:right;
  margin:0;
  padding:2px 4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  color:#B2B2B2;
  -background-color:#758EA2;
  background-color:rgba(243, 246, 250, 1); 
  font-weight:normal;
  font-size:11px;
  line-height:1;
}
.preview {
  position:relative;
}
.preview header,
.comments .preview header {
  position:absolute;
  right:0;
  top:0;
  padding:0px 4px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  font-size:12px;
  font-weight:normal;
  font-style:normal;
  color:#FFF;
  background-color:rgba(207, 60, 37, 0.6);
}

.avatar {
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.users {
  margin-bottom:1em;
}
.users tr {
  margin:0;
  padding:0;
  border-bottom:#758EA2 1px solid;
}
.users tr:hover {
  background-color:rgba(243, 246, 250, 1);
}
.users td {
  margin:0;
  padding:3px;  
}

.admin-buttons {
  padding:2px 4px;
  background-color:rgba(243, 246, 250, 1);
  text-align:right;
}
.admin-buttons li {
  display:inline;
  margin:0 1em 0 0;
  padding:0;
  font-size:11px;
}
.pagination {
  text-align:center;
}
.pagination em {
  font-style:normal;
  font-size:22px;
  font-weight:bold;
}
.pagination a {
  display:inline-block;
  min-width:1em;
  padding:1px 3px;
  text-decoration:none;
}
.pagination a:hover {
  border-radius:5px;
  background-color:#CF3C25;
  color:#FFF;
}
.pagination .gap {}
.pagination .previous_page {}
.pagination .next_page {}
.pagination .disabled {
  display:none;
}

.search-results {}
.search-results h1 {
  color:#B2B2B2;
}
.search-results .counter {
  padding:4px 4px;
  border-radius:5px;
  background-color:#C1DE4B;
  color:#FFF;
  text-align:center;
  font-size:22px;
}


#footer {
  margin-top:100px;
  color:#444;
  font-size:11px;
}
#footer a {
  color:#444;
}
#footer p {
  margin-bottom:10px;
  line-height:14px;
}
#footer a span {
  padding:1px 3px;
  border-radius:2px;
  color:#fff;
  background-color:#758EA2;
}
#footer nav ul {
  text-align:right;
  text-transform:uppercase;
  font-size:9px;
} 
#footer nav ul li {
  display:inline;
  margin-left:2em;
} 
#footer nav a {
  -text-decoration:none;
}
#footer nav a:hover {
}