@import url(reset.css);
@import url(960gs.css);
@import url(form.css);

/* ------------------------------------------------------------------------
   = Page
   ------------------------------------------------------------------------ */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height:21px;
  color:#444;
}
h1,
article header {
  margin-bottom:1em;
  padding-bottom:1em;
  border-bottom:#EEE 1px solid;
  font-size:22px;
  font-weight:bold;
}
h1 {
  margin-bottom:1em;
  padding:0;
  border:none;  
}
h2 {
  font-size:14px;  
  font-weight:bold;
  margin-bottom:1em;
}
article header a{
  color:#444;
  text-decoration:none;  
}
pre,
code {
  margin:0;
  padding:0.5em 1em;
  border-radius:5px;
  background-color:#2E2E2E;
  color:#FFF;
  font-family:Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}
p,
pre,
ul,
ol {
  margin-bottom:1em;
}
ul {
  padding-left:1em;
}
ul li {
  list-style:disc outside none;
}
ul.providers {
  padding:0;
  font-weight:bold;
}
ul.providers li {
  list-style:none outside none;
}
ul.providers a {
  text-decoration:none;
}
ul.providers img {
  vertical-align:middle;
}

ul.providers.inline li {
  display:inline-block;
  width:90px;
  text-align:center;
}
ul.providers.inline img {
  display:block;
  margin:0 auto;
}


article header a:hover,
a {
  color:#758EA2;
}
/* ------------------------------------------------------------------------
   = Flash message
   ------------------------------------------------------------------------ */
.flash {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 10000;
	border-bottom:2px solid rgba(0, 0, 0, 0.05);
	background-color:rgba(46, 46, 46, 0.95);
}
.flash .notice,
.flash .error {
	margin:0 7%;
	padding:15px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	color:#FFF;
}
.flash .error { color:#CF3C25; }

#header {
  position:relative;
  padding:24px 0;
}
/* http://www.colourlovers.com/palette/1388735/Diversion_II */
#header .logo {
  color:#000;
  font-size:22px;
  font-weight:bold;
}
#header .logo a {
  text-decoration:none;
  color:#000;
}
#header .logo span {
  border-radius:5px;
  margin-left:2px;
  padding:1px 4px;
  background-color:#CF3C25;
  -background-color:#C1DE4B;
  color:#FFF;
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
}
#header .search {
  text-align:right;
}
#header .account {
  position:absolute;
  right:20px;
  top:0;
  padding:4px 8px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color:#758EA2;
  font-size:11px;
  line-height:1;
}
#header .account a {
  color:#FFF;
  text-decoration:none;
}
#header .account a:hover {
}

#header .menu {
  text-align:right;
  text-transform:uppercase;
  font-size:12px;
  font-weight:bold;
  -line-height:24px;
}
#header .menu nav ul {
  padding-top:1px;
} 
#header .menu nav ul li {
  display:inline;
} 
#header .menu nav a {
  display:inline-block;
  margin:0;
  padding:4px 9px;
  line-height:1;
  text-decoration:none;
  border-radius:10px;
}
#header .menu nav a:hover {
  color:#FFF;
  background-color:#CF3C25;  
}

#content {
  margin-top:12px;
  margin-bottom:100px;
}
.day {}
.day .date-day, .date-month, .date-year {
  color:#B2B2B2;
  font-weight:bold;
  line-height:1;
}
.day .date-day {
  font-size:22px;
}
.day .date-month {
  font-size:14px;  
}
.day .date-year {
  display:block;
  font-size:12px;
}
article {
  position:relative;
  margin-bottom:2em;
}
article aside {
  position:absolute;
  top:0;
  right:0;
  display:none;
}
article:hover aside {
  display:block;  
}
article aside ul li {
  margin:0 0 2px 0;
  padding:0;
  list-style:none outside none;
  line-height:1;
}

article .comments {
  font-style:italic;
}
article .comments header {
  margin:0;
  padding:0;
  border:none;
  font-size:14px;
}
article .comments header a {
  color:#444;
  text-decoration:underline;
}

.avatar {
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.users {}
.users tr {
  margin:0;
  padding:0;
  border-bottom:#758EA2 1px solid;
}
.users tr:hover {
  background-color:rgba(243, 246, 250, 1);
}
.users td {
  margin:0;
  padding:3px;  
}

#footer {
  position:fixed;
  bottom:0;
  width:100%;
  padding-top:12px;
  padding-bottom:12px;
  background-image:-webkit-gradient(
    linear, left top, left bottom,
    from(rgba(255,255,255, 0.5)),
    to(rgba(255,255,255,1))
  );
  background-image:-moz-linear-gradient(
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 1) 95%
  );
  -color:#444;
  font-size:11px;
}
#footer a {
  color:#444;
}
#footer p {
  margin-bottom:10px;
  line-height:14px;
}
#footer a span {
  padding:1px 3px;
  border-radius:2px;
  color:#fff;
  background-color:#758EA2;
}
