<div>
  <%= f.text_field :title, :placeholder => t("activerecord.attributes.item.title"), :autofocus => true %>
</div>
<div id="wmd-button-bar"></div>
<div>
  <%= f.text_area :markdown, :placeholder => t("activerecord.attributes.item.markdown") %>
</div>
<% content_for :footer_js do %>
  <%= javascript_include_tag("wmd.combined.min") %>
  <script type="text/javascript">
    function updateTitlePreview() {
      $("#title-preview").text($(this).val());
    };
    
    $("#item_title").keyup(updateTitlePreview);
    
    setup_wmd({
      input: "item_markdown"
    });
  </script>
<% end %>
